<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>popinfoSetting00</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>popinfo_is_receive_message</string>
			<key>Title</key>
			<string>popinfoSetting01</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>popinfoSetting02</string>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>50</string>
				<string>100</string>
			</array>
			<key>Key</key>
			<string>popinfo_max_message</string>
			<key>Values</key>
			<array>
				<string>10</string>
				<string>50</string>
				<string>100</string>
			</array>
			<key>DefaultValue</key>
			<string>50</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>popinfoSetting04</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>popinfoSetting05</string>
			<key>Key</key>
			<string>popinfo_send_gps</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>popinfoSetting06</string>
			<key>Titles</key>
			<array>
				<string>popinfoSetting07</string>
				<string>popinfoSetting08</string>
				<string>popinfoSetting09</string>
			</array>
			<key>Key</key>
			<string>popinfo_location_mode</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>popinfoSetting03</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>POPINFO_KEY_FOR_POPINFO_ID</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Title</key>
			<string></string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
