<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEBUG</key>
	<string>1</string>
	<key>APP_ID</key>
	<string>5867</string>
	<key>SERVER_URL</key>
	<string>01c2039212f54cebb80526f880beaa11c1fee0f08bcb85e8cb084b8b9557754645</string>
	<key>APP_SALT</key>
	<string>5fb5d5ddc054978d59e886b302b5419413453dbd</string>
	<key>APP_OPTIONS</key>
	<string></string>
	<key>CONVERSION_MODE</key>
	<string>1</string>
	<key>ANALYTICS_APP_KEY</key>
	<string>8a5747b4ebbcb9a82e5a37a0ad93f910d6b2d1a1</string>
</dict>
</plist>
